/*
*
* name: Horizon Dark
* author: Michaël Ball (http://github.com/michael-ball/)
* slug: horizon-dark
* slug-underscored: horizon_dark
* system: base16
* variant: dark
* is-dark-variant: true
*
*/

window {
    background-color: #1C1E26;
    border-color: #DF5273;
}

button,
image {
    color: #9DA0A2;
}

button:hover {
    background-color: rgba(227, 230, 238, 0.4);
}
