/*
*
* name: Mellow Purple
* author: gidsi
* slug: mellow-purple
* slug-underscored: mellow_purple
* system: base16
* variant: dark
* is-dark-variant: true
*
*/

window {
    background-color: #1e0528;
    border-color: #550068;
}

button,
image {
    color: #873582;
}

button:hover {
    background-color: rgba(248, 192, 255, 0.4);
}
