/*
*
* name: Horizon Light
* author: Michaël Ball (http://github.com/michael-ball/)
* slug: horizon-light
* slug-underscored: horizon_light
* system: base16
* variant: light
* is-light-variant: true
*
*/

window {
    background-color: #FDF0ED;
    border-color: #DA103F;
}

button,
image {
    color: #948C8A;
}

button:hover {
    background-color: rgba(32, 28, 29, 0.4);
}
