/*
*
* name: Tomorrow
* author: Chris Kempson (http://chriskempson.com)
* slug: tomorrow
* slug-underscored: tomorrow
* system: base16
* variant: light
* is-light-variant: true
*
*/

window {
    background-color: #ffffff;
    border-color: #4271ae;
}

button,
image {
    color: #969896;
}

button:hover {
    background-color: rgba(29, 31, 33, 0.4);
}
