/*
*
* name: Windows High Contrast Light
* author: Fergus Collins (https://github.com/C-Fergus)
* slug: windows-highcontrast-light
* slug-underscored: windows_highcontrast_light
* system: base16
* variant: light
* is-light-variant: true
*
*/

window {
    background-color: #fcfcfc;
    border-color: #000080;
}

button,
image {
    color: #7e7e7e;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.4);
}
