/*
*
* name: Eva
* author: kjakapat (https://github.com/kjakapat)
* slug: eva
* slug-underscored: eva
* system: base16
* variant: dark
* is-dark-variant: true
*
*/

window {
    background-color: #2a3b4d;
    border-color: #15f4ee;
}

button,
image {
    color: #7e90a3;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.4);
}
