/*
*
* name: Everforest
* author: Sainnhe Park (https://github.com/sainnhe)
* slug: everforest
* slug-underscored: everforest
* system: base16
* variant: dark
* is-dark-variant: true
*
*/

window {
    background-color: #2d353b;
    border-color: #7fbbb3;
}

button,
image {
    color: #9da9a0;
}

button:hover {
    background-color: rgba(253, 246, 227, 0.4);
}
