/*
*
* name: Tokyo Night Moon
* author: Ólafur Bjarki Bogason
* slug: tokyo-night-moon
* slug-underscored: tokyo_night_moon
* system: base16
* variant: dark
* is-dark-variant: true
*
*/

window {
    background-color: #222436;
    border-color: #82aaff;
}

button,
image {
    color: #828bb8;
}

button:hover {
    background-color: rgba(200, 211, 245, 0.4);
}
