/*
*
* name: Tokyo Night Terminal Light
* author: Michaël Ball
* slug: tokyo-night-terminal-light
* slug-underscored: tokyo_night_terminal_light
* system: base16
* variant: light
* is-light-variant: true
*
*/

window {
    background-color: #D5D6DB;
    border-color: #34548A;
}

button,
image {
    color: #4C505E;
}

button:hover {
    background-color: rgba(26, 27, 38, 0.4);
}
