/*
*
* name: Windows High Contrast
* author: Fergus Collins (https://github.com/C-Fergus)
* slug: windows-highcontrast
* slug-underscored: windows_highcontrast
* system: base16
* variant: dark
* is-dark-variant: true
*
*/

window {
    background-color: #000000;
    border-color: #5454fc;
}

button,
image {
    color: #a2a2a2;
}

button:hover {
    background-color: rgba(252, 252, 252, 0.4);
}
