/*
*
* name: standardized-dark
* author: ali (https://github.com/ali-githb/base16-standardized-scheme)
* slug: standardized-dark
* slug-underscored: standardized_dark
* system: base16
* variant: dark
* is-dark-variant: true
*
*/

window {
    background-color: #222222;
    border-color: #00a3f2;
}

button,
image {
    color: #898989;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.4);
}
