/*
*
* name: Gruvbox dark, hard
* author: Dawid Kurek (dawikur@gmail.com), morhetz (https://github.com/morhetz/gruvbox)
* slug: gruvbox-dark-hard
* slug-underscored: gruvbox_dark_hard
* system: base16
* variant: dark
* is-dark-variant: true
*
*/

window {
    background-color: #1d2021;
    border-color: #83a598;
}

button,
image {
    color: #bdae93;
}

button:hover {
    background-color: rgba(251, 241, 199, 0.4);
}
