/*
*
* name: Atelier Lakeside
* author: Bram de Haan (http://atelierbramdehaan.nl)
* slug: atelier-lakeside
* slug-underscored: atelier_lakeside
* system: base16
* variant: dark
* is-dark-variant: true
*
*/

window {
    background-color: #161b1d;
    border-color: #257fad;
}

button,
image {
    color: #7195a8;
}

button:hover {
    background-color: rgba(235, 248, 255, 0.4);
}
