/*
*
* name: Gruvbox Material Dark, Medium
* author: Mayush Kumar (https://github.com/MayushKumar), sainnhe (https://github.com/sainnhe/gruvbox-material-vscode)
* slug: gruvbox-material-dark-medium
* slug-underscored: gruvbox_material_dark_medium
* system: base16
* variant: dark
* is-dark-variant: true
*
*/

window {
    background-color: #292828;
    border-color: #7daea3;
}

button,
image {
    color: #bdae93;
}

button:hover {
    background-color: rgba(251, 241, 199, 0.4);
}
