/*
*
* name: Pop
* author: Chris Kempson (http://chriskempson.com)
* slug: pop
* slug-underscored: pop
* system: base16
* variant: dark
* is-dark-variant: true
*
*/

window {
    background-color: #000000;
    border-color: #0e5a94;
}

button,
image {
    color: #b0b0b0;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.4);
}
