/*
*
* name: 3024
* author: Jan T. Sott (http://github.com/idleberg)
* slug: 3024
* slug-underscored: 3024
* system: base16
* variant: dark
* is-dark-variant: true
*
*/

window {
    background-color: #090300;
    border-color: #01a0e4;
}

button,
image {
    color: #807d7c;
}

button:hover {
    background-color: rgba(247, 247, 247, 0.4);
}
