/*
*
* name: Rosé Pine Dawn
* author: Emilia Dunfelt <edun@dunfelt.se>
* slug: rose-pine-dawn
* slug-underscored: rose_pine_dawn
* system: base16
* variant: light
* is-light-variant: true
*
*/

window {
    background-color: #faf4ed;
    border-color: #907aa9;
}

button,
image {
    color: #797593;
}

button:hover {
    background-color: rgba(206, 202, 205, 0.4);
}
