/*
*
* name: Atelier Plateau Light
* author: Bram de Haan (http://atelierbramdehaan.nl)
* slug: atelier-plateau-light
* slug-underscored: atelier_plateau_light
* system: base16
* variant: light
* is-light-variant: true
*
*/

window {
    background-color: #f4ecec;
    border-color: #7272ca;
}

button,
image {
    color: #655d5d;
}

button:hover {
    background-color: rgba(27, 24, 24, 0.4);
}
