/*
*
* name: Precious Dark Fifteen
* author: 4lex4 <4lex49@zoho.com>
* slug: precious-dark-fifteen
* slug-underscored: precious_dark_fifteen
* system: base16
* variant: dark
* is-dark-variant: true
*
*/

window {
    background-color: #23262b;
    border-color: #66b0ef;
}

button,
image {
    color: #abaaa8;
}

button:hover {
    background-color: rgba(186, 185, 182, 0.4);
}
