/*
*
* name: Tokyo Night Terminal Dark
* author: Michaël Ball
* slug: tokyo-night-terminal-dark
* slug-underscored: tokyo_night_terminal_dark
* system: base16
* variant: dark
* is-dark-variant: true
*
*/

window {
    background-color: #16161E;
    border-color: #7AA2F7;
}

button,
image {
    color: #787C99;
}

button:hover {
    background-color: rgba(213, 214, 219, 0.4);
}
