/*
*
* name: Gruvbox Material Light, Hard
* author: Mayush Kumar (https://github.com/MayushKumar), sainnhe (https://github.com/sainnhe/gruvbox-material-vscode)
* slug: gruvbox-material-light-hard
* slug-underscored: gruvbox_material_light_hard
* system: base16
* variant: light
* is-light-variant: true
*
*/

window {
    background-color: #f9f5d7;
    border-color: #45707a;
}

button,
image {
    color: #c9b99a;
}

button:hover {
    background-color: rgba(40, 40, 40, 0.4);
}
