/*
*
* name: London
* author: xscriptor (https://github.com/xscriptor)
* slug: london
* slug-underscored: london
* system: base16
* variant: light
*
*/

window {
    background-color: #ffffff;
    border-color: #666666;
}

button,
image {
    color: #7a7a7a;
}

button:hover {
    background-color: rgba(170, 170, 170, 0.4);
}
