/*
*
* name: Sequoia Retro Dark
* author: Micheal Andreuzza (https://michaelandreuzza.com/)
* slug: sequoia-retro-dark
* slug-underscored: sequoia_retro_dark
* system: base16
* variant: dark
*
*/

window {
    background-color: #0f1014;
    border-color: #5c87a4;
}

button,
image {
    color: #575861;
}

button:hover {
    background-color: rgba(15, 16, 20, 0.4);
}
