/*
*
* name: Github Dark Dimmed
* author: Tinted Theming (https://github.com/tinted-theming)
* slug: github-dark-dimmed
* slug-underscored: github_dark_dimmed
* system: base16
* variant: dark
*
*/

window {
    background-color: #0d1117;
    border-color: #539bf5;
}

button,
image {
    color: #9198a1;
}

button:hover {
    background-color: rgba(205, 217, 229, 0.4);
}
