/*
*
* name: Sequoia Retro Light
* author: Micheal Andreuzza (https://michaelandreuzza.com/)
* slug: sequoia-retro-light
* slug-underscored: sequoia_retro_light
* system: base16
* variant: light
*
*/

window {
    background-color: #edeef2;
    border-color: #456a82;
}

button,
image {
    color: #42434e;
}

button:hover {
    background-color: rgba(15, 16, 20, 0.4);
}
