/*
*
* name: Github Light Colorblind
* author: Tinted Theming (https://github.com/tinted-theming)
* slug: github-light-colorblind
* slug-underscored: github_light_colorblind
* system: base16
* variant: light
*
*/

window {
    background-color: #ffffff;
    border-color: #0969da;
}

button,
image {
    color: #59636e;
}

button:hover {
    background-color: rgba(31, 35, 40, 0.4);
}
