/*
*
* system: {{scheme-system}}
* name: {{scheme-name}}
* slug: {{scheme-slug}}
* author: {{scheme-author}}
* variant: {{scheme-variant}}
*
*/

window {
    background-color:
    border-color:
}

button,
image {
    color:
}

button {
    color:
}

button:hover {
    background-color:
}
