/*
*
* name: {{scheme-name}}
* author: {{{scheme-author}}}
* slug: {{scheme-slug}}
* slug-underscored: {{scheme-slug-underscored}}
* system: {{scheme-system}}
* variant: {{scheme-variant}}
* is-{{scheme-variant}}-variant: {{hasVariant}}
*
*/

window {
    background-color: #{{base00-hex}};
    border-color: #{{base0D-hex}};
}

button,
image {
    color: #{{base04-hex}};
}

button:hover {
    background-color: rgba({{base07-rgb-r}}, {{base07-rgb-g}}, {{base07-rgb-b}}, 0.4);
}
